<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card bg-secondary shadow">

                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0"> Questions Section</h3>
                            <span style="color: #94a2ec;">Dear Customer
                                <strong style="color: #f53c56;"> {{Customer.FirstName+" "+Customer.LastName}} </strong>
                                kindly
                                answer these questions ...</span>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert"
                    *ngIf="Questions==null || Questions.length==0;else answer ">
                    Error : No More Surveys left for this customer
                </div>

                <ng-template #answer>

                    <form #SubmitForm="ngForm" (ngSubmit)="onSubmit()">

                        <div class="card-body">



                            <div class="row">

                                <div class="col-md-6" *ngFor="let item of Questions">
                                    <div>
                                        <!-- Question Text dosn't change in any type -->
                                        <h6> <span> {{item.Text}}</span> </h6>



                                        <!-- answer type -->




                                        <!--  OPEN -->
                                        <div *ngIf="item.Type?.trim().toUpperCase()=='OPEN'">

                                            <mat-form-field>
                                                <input matInput placeholder="Type your answer here" [pattern]="pattern"
                                                    type="text" [name]="item.Id" [required]="item.IsMandatory"
                                                    [ngModel]="item.answer"
                                                    (ngModelChange)="answerQuestion(item,$event)" #answer="ngModel">
                                                <mat-error *ngIf="answer.invalid && (answer.dirty || answer.touched)">
                                                    <span>Answer on this question is <strong>required</strong></span>
                                                </mat-error>

                                            </mat-form-field>

                                        </div>



                                        <!--  SINGLESELECT -->
                                        <div *ngIf="item.Type?.trim().toUpperCase()=='SINGLESELECT'">
                                            <div *ngIf="!item.Options || item?.Options.length==0">
                                                <span> No Options for this Question</span>
                                            </div>
                                            <div *ngIf="item.Options && item.Options.length > 0">
                                                <mat-form-field>
                                                    <mat-label>Select an option</mat-label>
                                                    <mat-select [required]="item.IsMandatory" [ngModel]="item.answer"
                                                        #answer="ngModel" (ngModelChange)="answerQuestion(item,$event)"
                                                        [name]="item.Id">

                                                        <mat-option *ngIf="!item.IsMandatory" [value]="null">None
                                                        </mat-option>

                                                        <mat-option *ngFor="let option of item.Options"
                                                            [value]="option.Id">
                                                            {{option.Text}}</mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="answer.invalid && (answer.dirty || answer.touched)">
                                                        <span>Answer on this question is
                                                            <strong>required</strong></span>
                                                    </mat-error>
                                                </mat-form-field>

                                            </div>
                                        </div>


                                        <!-- MULTISELECT -->
                                        <div *ngIf="item.Type?.trim().toUpperCase()=='MULTISELECT'">
                                            <div *ngIf="!item.Options || item?.Options.length==0">
                                                <span> No Options for this Question</span>
                                            </div>
                                            <div *ngIf="item.Options && item.Options.length > 0">
                                                <mat-form-field>
                                                    <mat-label>Select an option</mat-label>
                                                    <mat-select [required]="item.IsMandatory" multiple
                                                        [compareWith]="compare" #answer="ngModel"
                                                        [ngModel]="item.answer"
                                                        (ngModelChange)="answerQuestion(item,$event)" [name]="item.Id">

                                                        <mat-option *ngFor="let option of item.Options"
                                                            [value]="option.Id">
                                                            {{option.Text}}</mat-option>
                                                    </mat-select>
                                                    <mat-error
                                                        *ngIf="answer.invalid && (answer.dirty || answer.touched)">
                                                        <span>Answer on this question is
                                                            <strong>required</strong></span>
                                                    </mat-error>
                                                </mat-form-field>

                                            </div>
                                        </div>


                                    </div>

                                    <hr class="my-4" />

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-4 text-left" style="color: #28a745d9;">
                                    <small> The submit button will be Enabled as soon as you answer the mandatory
                                        questions
                                    </small>
                                </div>

                                <div class="col-4 text-right">
                                    <button [disabled]="SubmitForm.invalid" type="submit"
                                        class="btn btn-lg btn-primary">Submit</button>
                                </div>
                            </div>




                        </div>
                    </form>
                </ng-template>

            </div>
        </div>
    </div>
</div>


<div class="col-4 text-right">
    <button type="button" class="btn btn-lg btn-primary" (click)="naviToDialog()">try</button>
</div>

<pre>
{{Survey|json}}
</pre>


