/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.invalid-input {
    border: 1px !important;
    border-color: red !important;
    border-style: double !important;
    color: red !important;
    -webkit-text-fill-color: #f7000073 !important;
}