<div class=" bg-gradient-danger ">

  <app-navbar></app-navbar>

    <!-- Top navbar -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">

            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="National Number" type="number" [(ngModel)]="NationalNumber"
                      name="NN">
                  </div>

                </div>

                <!-- FingerPrint *****************-->
                <div class="form-group mb-3">

                  <input hidden class="form-control" placeholder="choose file" type="file"
                    (change)="onFileChange($event)" accept="image/*" #selectFile>

                  <button class="btn btn-primary my-4" (click)="selectFile.click()">Select File</button>
                  <span>{{selectedFile?.name}}</span>

                </div>

                <div class="form-group mb-3">

                  <button class="btn btn-primary my-4" (click)="onUploadFile()">Upload</button>



                  <img [src]="imgUrl" height="200" width="200" *ngIf="imgUrl">

                  <!-- </div> -->
                  <!-- ********************** -->
                </div>

                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>