<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card bg-secondary shadow">

        <section>

          <div class="row">
            <div class="col-12 text-center">

              <h4>Do you want to answer another survey ?</h4>
            </div>
          </div>
          <div class="row">

            <div class="col-4 text-left">
              <button type="button" class="btn btn-lg btn-primary" (click)="navigate(true)">Yes</button>
            </div>
            <div class="col-4 text-right">
              <button type="button" class="btn btn-lg btn-primary" (click)="navigate(false)">No</button>
            </div>
          </div>


        </section>
      </div>
    </div>
  </div>
</div>